:root *{
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background: #000;
    margin: 0;
    padding: 0;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 217, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  .menubar{
    display: flex;
  }
a,h4,h3,h5,h1,h2{
        color: #FFD700 ;
        text-decoration: none;
}
.lottonumber{
    color: #ffff;
}
.btn.btn-light,.btn.btn-warning{
    width: 100px;
    border-radius: 20px;
}

.g-row.time{
    display: flex;
    align-items: center;
    justify-content: center;
}
.g-col-4.time{
    border-radius: 10px;
    padding-top: 6px;
    height: 40px;
    width: 200px;
    background: #6aff503f;
    border: 1px solid #FFD700;
}
.loto-show{
    border-radius: 6px;
    padding-top: 10px;
    height: 40px;
    background: #ff00005b;
    border: 1px solid #FFD700;
}
.col.table {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #1e8fff25;
    border: 1px solid #FFD700;
    border-radius: 10px;
}

.lay-out-table {
    width: 100%;
}

.number{
    width: 100%;
    height: 50px;
    border-radius: 10px;

}

.row.carousel{
    width: 100%;
    height: 20px;
    }
.carousel.slide.carousel-fade{
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    background: #b8e9ff39;
    border: 1px solid #FFD700;
}
.carousel-control-prev,.carousel-control-next{
    width: 40px;
}
.cattagory-number{
    width: 100%;
    text-decoration: none;
    color: #FFD700;
}

.btn.btn-primary{
    color:#FFD700 ;
    background: #06304B;
    width: 100px;
    border: 1px solid #FFD700;
}
/* ทำให้ปุ่มมีระยะห่างและจัดเรียงตรงกลาง */
.loto {
    margin: 0 auto;
}

/* เพิ่มระยะห่างระหว่างแถว */
.row {
    margin-bottom: 1rem;
}

/* ทำให้สองปุ่มสุดท้ายอยู่ตรงกลางแถว */
.row.justify-content-center .col-3:nth-last-of-type(-n+2) {
    text-align: center;
}
.card.mb-3{
    background: #000;
    border: 1px solid #FFD700;
}
.col-3{
    margin-top: 20px;
}
.container.login{
        margin-top: 100px;
}

.btn-login{
    display: flex;
    justify-content: center;
}

.btn.btn-light.login{
    border: 1px solid #FFD700;
}

.card-body{
    margin-left: 20px;
}
.login{
    margin-bottom: 20px;
}
.form-label{
    color:#FFD700 ;
}
.img-fluid.rounded-start{  

    width: 350px ;
    height: 300px;

}
.col-md-4{
    width: 250px;
}
.col-md-8{
    width: 350px ;
}
.card.text-center{
    background: #000;
    border: 1px solid #FFD700;
    border-radius: 0;
    padding: 20px;
}
.form-control{
    border: 1px solid #FFD700;
}
.login-text,.register-text{
    display: none;
}
.lay-out-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* สีพื้นหลังมืด */
    z-index: 999; /* ให้ overlay อยู่ใต้ popup */
}

.popup {
    z-index: 1001; /* ให้ popup อยู่เหนือ overlay */
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.card.text-center.popup{

    background: #FFF;
    border-radius: 10px;

}

.lay-out-popup2{
    display: none;
}
.card-menu{
    border: 1px solid #FFD700;
    border-radius: 10px;
    height: 200px;

}
.offcanvas.offcanvas-end{
    background: #000;
}
.btn-close {
    background-color: red; /* กำหนดสีพื้นหลังเป็นสีแดง */
    opacity: 1; /* เพื่อให้สีแดงชัดเจน */
  }

.btn-close:hover {
    background-color: darkred; /* กำหนดสีพื้นหลังเมื่อ hover */
  }
  /* ทำให้กราฟปรับขนาดตามหน้าจอ */
/* ทำให้กราฟปรับขนาดตามหน้าจอ */
#bar-chart {
    width: 100%;
    height: auto;
}

.QR-CODE{
    display: none;
}
.text-scan{
    display: none;
}


@media screen and (max-width: 600px) {
    .img-login{
        display: none;
    }
    .col-md-4{
        display: none;
    }
    .card.mb-3{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width:300px;
    }
  }